bottle==0.12.19
certifi==2021.10.8
charset-normalizer==2.0.9
colorama==0.4.4
conan==1.43.2
distro==1.6.0
fasteners==0.16.3
idna==3.3
Jinja2==2.11.3
MarkupSafe==2.0.1
node-semver==0.6.1
patch-ng==1.17.4
pluginbase==1.0.1
Pygments==2.10.0
PyJWT==1.7.1
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
tqdm==4.62.3
urllib3==1.26.7
